@charset "UTF-8";

body{
    background-color:#d6dfe9;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #1e402f;
}

#principal {
    text-align: center;   
    background-color: #3c805e;
    color: white;
}

h2{
    color: rgb(73, 109, 71);
}


.basico {
    color: #3c805e;
}

.intermediario {
    color: #80793c;
}

.avancado {
   color:  #803c3c;
}
